.mainContainer {
  display: flex;
  flex-direction: column-reverse;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
}

.mainImg {
  background-image: url(../../assets/images/illustration-sign-up-mobile.svg);
  width: 375px;
  height: 250px;
  border-radius: 1rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3rem;
}

.mainContent h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  color: hsl(233, 30%, 12%);
}

.mainContent p {
  font: 14px;
}

.mainContent ul {
  list-style: none;
  padding: 0;
}

.mainContent ul li {
  display: flex;
  gap: 1rem;
}

.mainContent ul li p {
  margin: 1rem 0;
}

@media (min-width: 500px) {
  .mainContainer {
    display: flex;
    flex-direction: row;
    margin: 10rem auto;
    width: 60%;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 2rem;
  }

  .mainContent h1 {
    font-size: 5rem;
    margin-bottom: 0;
    color: hsl(233, 30%, 12%);
  }

  .mainContent p {
    font: 16px;
  }

  .mainImg {
    background-image: url(../../assets/images/illustration-sign-up-desktop.svg);
    height: 576px;
    width: 50%;
    border-radius: 1rem;
  }
}
